body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-title {
  color: #800080; /* Velvet Purple */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
